extends ../layout

block content
  h1 Patron: Return Book
  p
    strong Book Title:
  p
    strong Loaned By:
  p
    strong Loaned On:
  p
    strong Return By:
    
  form(action='/loans/return', '?_method=PUT', method='post')
    p
      label(for='returned_on') Returned On
      input#returned_on(type='text' name='returned_on' value='')
    p
      input(type='submit' value='Return Book' href='/loans/return')
